
/* Head */
.header-color {
  background: gray;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  /* background-color: #2a2a2b; */
  background-color: #d4f1ff;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs-color{
  border-left: 2px solid #3b255a; 
}

.tabs-color:hover {
  background-color: #9668a7;
}

/* Contact */
.contact-body {
  margin: auto;
  background-color: #dcdfff;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-weight: bold;
}

.contact-grid hr {
  border-top: dotted black 5px;
  width: 65%;
  margin: auto;
}

.contact-list i {
  font-size: 30px;
  padding-right: 5rem;
}

/* Landing/Home Page */
.avatar-img {
  width: 200px;
  border-radius: 30%;
  margin-top: 25px;
}

.banner-text {
  background-color: none;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 1opx;
  color: Black;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: black;
}

.banner-text hr {
  border-top: 5px dotted;
  width: 100%;
  margin: auto;
  padding-top: 15px;
}

.banner-text p {
  color: black;
  padding: 1em;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  height: 30px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a {
  color: black;
  font-size: 5em;
  padding: 8px;
}

/* Resume Page css */
.resume-grid {
  background-color: #dcdfff;
}

.resume-right-col {
  /* background-color: #c3c7ff;
  color: black; */
  padding: 2em;
  border-left: 3px solid #833fb2;
}

/* Projects */
.category-tabs {
  background-color: #dcdfff;
  height: 100%;
}

.projects-grid {
  display: flex;
  margin-top: 85px;
}

